.hamburger {
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.hamburger span {
    display: block;
    height: 3px;
    background: black;
    border-radius: 3px;
}
.hamburger:hover span {
    background: green;
}